Tier-3-Transport/Service References/TaskManager/TaskQueue.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://gams.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://gams.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://gams.com">
      <s:element name="GetStatus">
        <s:complexType />
      </s:element>
      <s:element name="GetStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetStatusResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTask">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sBotID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sTaskType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTaskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTaskResult" type="tns:TaskDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TaskDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="InputValues" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceValues" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TaskID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TaskType" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SubmitResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sTaskID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sOutputValues" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sLogs" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sStatus" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitResultResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetStatus" />
  </wsdl:message>
  <wsdl:message name="GetStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetTaskSoapIn">
    <wsdl:part name="parameters" element="tns:GetTask" />
  </wsdl:message>
  <wsdl:message name="GetTaskSoapOut">
    <wsdl:part name="parameters" element="tns:GetTaskResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitResultSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitResult" />
  </wsdl:message>
  <wsdl:message name="SubmitResultSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitResultResponse" />
  </wsdl:message>
  <wsdl:portType name="TaskQueueSoap">
    <wsdl:operation name="GetStatus">
      <wsdl:input message="tns:GetStatusSoapIn" />
      <wsdl:output message="tns:GetStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTask">
      <wsdl:input message="tns:GetTaskSoapIn" />
      <wsdl:output message="tns:GetTaskSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitResult">
      <wsdl:input message="tns:SubmitResultSoapIn" />
      <wsdl:output message="tns:SubmitResultSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TaskQueueSoap" type="tns:TaskQueueSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStatus">
      <soap:operation soapAction="http://gams.com/GetStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTask">
      <soap:operation soapAction="http://gams.com/GetTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitResult">
      <soap:operation soapAction="http://gams.com/SubmitResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TaskQueueSoap12" type="tns:TaskQueueSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStatus">
      <soap12:operation soapAction="http://gams.com/GetStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTask">
      <soap12:operation soapAction="http://gams.com/GetTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitResult">
      <soap12:operation soapAction="http://gams.com/SubmitResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TaskQueue">
    <wsdl:port name="TaskQueueSoap" binding="tns:TaskQueueSoap">
      <soap:address location="http://localhost:53361/TaskQueue.asmx" />
    </wsdl:port>
    <wsdl:port name="TaskQueueSoap12" binding="tns:TaskQueueSoap12">
      <soap12:address location="http://localhost:53361/TaskQueue.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>